/* CSS Document */
@font-face {
    font-family: 'fira_sansextralight';
    src: url('/greenstone/web/fonts/firasans-extralight-webfont.eot');
    src: url('/greenstone/web/fonts/firasans-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/greenstone/web/fonts/firasans-extralight-webfont.woff2') format('woff2'),
         url('/greenstone/web/fonts/firasans-extralight-webfont.woff') format('woff'),
         url('/greenstone/web/fonts/firasans-extralight-webfont.ttf') format('truetype'),
         url('/greenstone/web/fonts/firasans-extralight-webfont.svg#fira_sansextralight') format('svg');
    font-weight: normal;
    font-style: normal;
	 -webkit-font-smoothing: antialiased;

}
@font-face {
    font-family: 'fira_sansregular';
    src:  url('/greenstone/web/fonts/firasans-regular-webfont.woff') format('woff');
    src: url('/greenstone/web/fonts/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/greenstone/web/fonts/firasans-regular-webfont.woff2') format('woff2'),
         url('/greenstone/web/fonts/firasans-regular-webfont.woff') format('woff'),
         url('/greenstone/web/fonts/firasans-regular-webfont.ttf') format('truetype'),
		 url('/greenstone/web/fonts/firasans-regular-webfont.eot') format('eot'),
         url('/greenstone/web/fonts/firasans-regular-webfont.svg#fira_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{ color: #333}
.sloganP1, .sloganP2{font-size:28px; line-height:28px}
.sloganP1{color:#1c3259}
.sloganP2{color:#8cbade}
header{clear:both; height:130px}
input.form-control{background: url("/greenstone/web/images/lupa_home.gif") no-repeat 5px 8px #ededed; border:none;
width:280px !important;
    text-indent: 20px;}
.carousel-inner{overflow:visible !important; }
.navbar-brand{padding-top:0;}
.navbar-nav{margin-top: 46px !important;margin-left: 10px !important;}
ul.navbar-right a{border-radius: 0!important;border: 0!important; background:transparent !important; color:#999 !important}
.navbar-nav a{border-radius: 10px;border: 2px solid #8abae0}
.navbar-nav a{border-radius:5px;border: 2px solid #8abae0;  background:#8abae0; color:#fff !important; font-weight: 700;margin-right: 0.5em !important;}
.navbar-nav a:hover{color:#8abae0 !important}
.navbar-nav > li > a { padding:4px !important; margin:0}
.navbar-default{background-image: none !important;	border-radius: 0;box-shadow: none !important;	background-color: transparent !important;	border-color: transparent  !important}
.glyphicon-home::before,.glyphicon-home::after { display:none}
#miSlider{position:relative; width:100%; height: auto; background-color:#eee;overflow: hidden;}
.slider-inner .item { width: 565px !important ; float:left}
.slider-inner{width:9000px; height:363px; position: relative;}
.slogan{margin:10px 0 25px 0}
.tituloCentrado{ text-align:center;color:#1c3259; font-size:18px; margin:30px 0 10px 0;font-family:'fira_sansextralight', 'Fira Sans', sans-serif !important;}
.nuevas .tarjeta p.labelA{display:block; text-align:left; padding: 10px 10px 10px 25px ; color:#fff;}
.conservacin .labelA,
.seccionTematicas .conservacin  .wrap{background-color:#809879}
.arteydiseoindustrial  .labelA,
.seccionTematicas .arteydiseoindustrial  .wrap{background-color:#4599c3}
.arteycultura  .labelA,
.seccionTematicas .arteycultura  .wrap{background-color:#7c6054}
.ingenieraytecnologa  .labelA,
.seccionTematicas .ingenieraytecnologa  .wrap{background-color:#873e35}
.arquitecturayurbanismo .labelA,
.seccionTematicas .arquitecturayurbanismo  .wrap{background-color:#d48830}
.trabajosocialycomunitario .labelA,
.seccionTematicas .trabajosocialycomunitario  .wrap{background-color:#687ca1}
.estadoysociedad .labelA,
.seccionTematicas .estadoysociedad  .wrap{background-color:#c45c26}
.derecho .labelA,
.seccionTematicas .derecho  .wrap{ background-color:#392626;}
.economaygestin .labelA,
.seccionTematicas .economaygestin  .wrap{background-color:#873e35}
.turismoyrecreacin .labelA,
.seccionTematicas .turismoyrecreacin  .wrap{background-color:#5b7782}
.comunicacinymedios .labelA,
.seccionTematicas .comunicacinymedios  .wrap{background-color:#b62529}
.actividadfsicaydeporte .labelA,
.seccionTematicas .actividadfsicaydeporte  .wrap{background-color:#a5c1dd}
.cienciasdelasalud .labelA,
.seccionTematicas .cienciasdelasalud  .wrap{background-color:#edcc49}
.historia .labelA,
.seccionTematicas .historia  .wrap{background-color:#c9b64c}
.general .labelA{background-color:#333}


.nuevas .tarjeta p,.nuevas .tarjeta h3{padding-left:25px;padding-right: 10px;font-family:'fira_sansextralight', 'Fira Sans', sans-serif !important;}
.nuevas .tarjeta h3{font-size:18px; color:#1a3c69;}
.nuevas .tarjeta p{font-size:14px; color:#3e3e3e}
.nuevas .tarjeta a{color:#757575;font-size:12px}
.nuevas .tarjeta{ box-shadow: 1px 1px 10px 1px #dadada;min-height: 280px;
margin-bottom: 25px;}
.pie{clear: both;background-color:#f4f4f4; margin-top35px; border-top:8px solid #1a3c69;font-size:12px ;font-family:'fira_sansextralight', 'Fira Sans', sans-serif !important;margin-top: 31px;}
.pie .pieAlto ul{ float: left;width: 50%;padding-top: 30px;}
.pie .pieAlto a{color:#62708b; font-size:14px}
.pie li{list-style: none}
.pie a{color:#7a7a7a; font-size:14px}
.pieBajo {margin-top:31px}
.pieBajo ul{ border-left:1px solid #c4c6c6}
.pieBajo ul.instit {border-left:0; padding-left:35px; padding-left: 48px; color: #1b3d83; font-size:16px}
.pieAlto .contactos{text-align: right}
.pieAlto .telefonos{ padding-right:52px}
.colecciones a,.colecciones p,.seccionTematicas h1,
.colecciones h1,.colecciones h3,
.seccionDeptos .seccionDeptos a,.seccionDeptos h1,
.seccionDeptos h3, .seccionDeptos p{font-family:'fira_sansextralight', 'Fira Sans', sans-serif !important;}

ol.breadcrumb{font-family:'fira_sansextralight', 'Fira Sans', sans-serif !important; color:#4c9bd9 !important}
ol.breadcrumb a{color:#4c9bd9 !important}
ol.breadcrumb{padding-left:0;margin-left: 30px;}

.colecciones h1 {padding-left:28px;}
.seccionDeptos h3 span{display:block; font-size:12px; color:#999}
.seccionDeptos .row{ margin-bottom:15px}
.seccionDeptos h3{margin-top:23px;    padding-left: 16px;}
.seccionDeptos h6{margin-top:15px;}
.colecciones  h1,.aboutDepto h1 ,
.seccionDeptos h1,.seccionTematicas h1{ color:#4c9ad8; font-size:34px}
.seccionDeptos h1{padding-left: 30px;}
.seccionTematicas h1{padding-left: 0;}
.seccionDeptos p.descripcion{padding-left:20px; border-left:2px solid #99ccff;}
.seccionTematicas a{color:#fff}
.seccionTematicas .col-md-3{margin-bottom:16px}
.seccionTematicas h3{ height: 88px; margin:8px 0 0 0; font-family:'Fira Sans',"fira_sansextralight", sans-serif; font-size:1.1em}
.seccionTematicas h3 span{display: block; }
.seccionTematicas .wrap{padding: 0 1.3em 0 1.3em;;}
.seccionTematicas .wrap img {margin-left:-1.3em;width:118% }
.seccionTematicas  .row{padding-left:30px}

.seccionTematicas .tema_arteIndustrial .wrap, .tema0{ background-color:#4599c3;}
.seccionTematicas .tema_econo .wrap,.tema7{ background-color:#873e35}
.seccionTematicas .tema_conservacion .wrap,.tema8{ background-color:#809879}
.seccionTematicas .tema_inge .wrap,.tema2{ background-color:#873e35}
.seccionTematicas .tema_trabajo  .wrap,.tema4{ background-color:#687ca1}
.seccionTematicas .tema_estado .wrap, .tema5{ background-color:#c45c26}
.seccionTematicas .tema_arte .wrap, .tema1{ background-color:#7c6054}
.seccionTematicas .tema_actiFisica  .wrap,.tema11{ background-color:#a5c1dd}
.seccionTematicas .tema_actiFisica h3 a{color:#3c5c6c}
.seccionTematicas .tema_arq  .wrap,.tema3{ background-color:#d48830}
.seccionTematicas .tema_historia .wrap,.tema13{ background-color:#c9b64c}
.seccionTematicas .tema_salud  .wrap,.tema12{ background-color:#edcc49}
.seccionTematicas .tema_medios  .wrap,.tema10{ background-color:#c9b64c}
.seccionTematicas .tema_turismo  .wrap, .tema9{ background-color:#5b7782}
.seccionTematicas .tema_derecho  .wrap,.tema6{ background-color:#392626}
#baseTema .tema7{color:white;}
#baseTema #toolbox{min-height:143px}
#toolbox{margin-left:17px;margin-right:10px; margin-bottom:2em}
#resultados{padding-left:31px}
#CL1,#CL2,#CL3,#CL4,#CL5,#CL6,#CL7{ padding-left:5px}
.iconos span{
color:#fff;
position: absolute;
left: 0;
width: 50%;
text-align: left;
padding: 10px 0px 10px 30px;}
.seccionTematicas .tema_salud h3 a,
.seccionTematicas .tema_historia h3 a{color:#7f0100}
.seccionTematicas .tema_medios h3 a{color:#141d28}
.seccionTematicas .colCell{width: auto; margin: .5em; height:217px; overflow:hidden;}
.seccionTematicas .colCell{box-sizing: content-box !important;}
#grillado{position: relative;}
#toolboxAbout , .aboutDepto #toolbox{ background-color:#4c9bd9; color:white; padding:8px; margin-bottom:2em;margin-left: 15px;
margin-right: 15px;}

#toolboxAbout
#resultados{margin-top:25px; padding-left:20px;}
.ficha {border:1px solid #e3e3e3; 
font-family: "Fira Sans","fira_sansextralight",Tahoma, Geneva, sans-serif;
-webkit-box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.2);
box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.2);
margin-bottom:25px;}
.ficha h4 a{color:#293f66 !important; font-size:1em}
.ficha .wraper{padding:0 0.3em 1em 1.5em}
.ficha .tipoDoc{color:#7c7c7c;font-size: .9em;}
.ficha .responsables{color:#3f3f3f;font-size:.9em}
.ficha .institucional{font-size:.8em}
.info{font-size:1em; line-height: 1em; margin-top:15px}
.ficha .iconos{height:50px; text-align:right}
.ficha .iconos a{ margin-right:13px;}
.ficha .iconos a img{height:52px;}
.ficha a.pdf_bt{background-image:url("/greenstone/web/images/pdf_bt.gif"); font-size:24px; background-repeat:no-repeat}
.ficha a.compartir_bt{background-image:url("/greenstone/web/images/share_bt.gif"); font-size:24px; background-repeat:no-repeat}
.ficha a.cita_bt{background-image:url("/greenstone/web/images/cita_bt.gif"); font-size:24px; background-repeat:no-repeat}
.ficha .iconos a:hover{background-position: top right}
.ficha .iconos a:active{background-position:top left}
#msj{margin-left:25px; font-size:14px; color:#f00}
.tooltipOk + .tooltip > .tooltip-inner {background-color: #293f66;}
.tooltipOk + .tooltip > .tooltip-arrow { border-bottom-color:#293f66;}
.tooltipFail + .tooltip > .tooltip-inner {background-color: #645c56;}
.tooltipFail + .tooltip > .tooltip-arrow { border-bottom-color:#645c56;}
#btColec a, 
#btTemas a,
#toolboxAbout a.btn-xs  {text-transform:capitalize; display:block; color:white; font-family:"fira_sansregular";}
#btColec a.selected,
#btTemas a.selected,
#toolboxAbout a.selected {background-color: #8a88e0; font-size:1em; border-bottom-color:#8a88e0;}
#toolboxAbout h6{padding-left:35px}
#spinner {
    width:15px;
    height:15px;	
	float:left;
	margin-right:0.5em;
    background-image: url('/greenstone/web/images/Rclk1Sf.png');
}
.cita{ background-color:#999; padding:8px; color:#eee; text-align:left;clear:both; margin-bottom: 20px;
position: absolute;width: 100%;left: 0px;padding: 20px;box-shadow: 1px 2px 8px #999;}
.iconos .selected{ background-color:#999;}
#myModalLabel{text-align:left !important}
#CL6 .ficha:nth-child(odd) {margin-left:1em}
.pageBLista  h4{margin-bottom:2em}
.pageBLista .label{margin-left:15px}
.pageBLista{clear:both}
.embargado{ background-color:#999; color:white; margin-top;15px; padding:0.2em ; display:block; font-size:0.8em }
.breadcrumb > li + li:before {
     content: url("/greenstone/web/images/breadSeparator.gif") !important;
     color: #aaa !important;
}
.breadcrumb{clear:both; margin-top:10px; background: transparent !important; font-size:30px}
article.document{font-family: 'fira_sansregular' !important; color:#858585 }
article.document .docHeader,
article.docQPlain .docHeader {margin-bottom: 20px; clear:both;min-height:86px}
article.document .docHeader .mainHeader h1 span,
article.docQPlain .docHeader .mainHeader h1 span{color: #294167 !important; font-size:28px;}
article.document .docHeader .mainHeader h1,
article.docQPlain .docHeader .mainHeader h1{margin-top: 0;}
article.document .mainHeader p ,
article.docQPlain .mainHeader p {font-size:18px;margin-bottom: 0 !important;}
article.document .docHeader .pdf,article.docQPlain .docHeader .pdf{height: 86px;width: 50px;float:left;}
article.document .docHeader .mainHeader ,article.docQPlain  .docHeader .mainHeader {float:left; width:85%;padding-left: 12px;}
article.docQPlain   .referencia,
article.docQPlain   .descrip,
article.docQPlain  #capa1,article.docQPlain  #capa2,
article.docQPlain  #capa3{padding-left:62px; clear: both; font-size:0.78em}
article.docQPlain  h4{ margin-top:2em}
article.docQPlain   .cita{font-size:0.78em;color: #333; position:relative;margin-bottom:15px; margin-top:15px;
	padding: 10px 10px 10px 62px; background:url("/greenstone/web/images/undav_citaDoc.gif") no-repeat 1% 25% #e4e6be;}
article.docQPlain  .pdfOk{background:url("/greenstone/web/images/pdf_gris_doc.gif") no-repeat top left transparent;}
article.docQPlain   .pdfOk .pdf img{ width:40px;}
.clr{clear:both; line-height:1px; font-size:1px}
article.docQPlain  .gray_label{display: inline;padding: 0.2em 0.6em 0.3em;font-size: .6em;font-weight: bold;line-height: 1;color: #FFF;text-align: center;
    white-space: nowrap;vertical-align: middle;border-radius: 0.25em;background-color: #777;margin-right:0.5em;}
.textoHome{padding:35px}
.datos{margin-top:15px;clear:both}
.resumenNav{ margin-top: 1em;
font-size: 18px;
margin-bottom: 0.7em;
padding-left: 60px;}
.resumenNav .botResumen{ width:150px; font-family: 'fira_sansregular' }
.resumenNav .abstracttab{font-style: none}
.resumenNav .currentabstracttab{font-weight: bold}
.h_list span a{font-size:15px}
.h_list{height:25px; padding-top:3px; padding-left:15px; font-size:1em}
#group_top{margin-top:25px}
.h_item_current{display: inline;
padding: 0.2em 0.6em 0.3em;
font-size: 1.2em;
font-weight: 700;
line-height: 1;
color: #FFF;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: 0.25em;
    background-color: #4C9BD9;
}
.v_list{ margin-top:15px}
.advanceToolbox{width: 400px;
left: -90px;box-shadow: 1px 2px 8px #999;padding-left: 
5px;position:absolute;font-size:0.7em; background-color:white; 
padding-top:1em; z-index:10; margin-top:2em;    background-color: #ededed;top: 55px;
}
.advanceToolbox .selected{background-color:#999}
.advanceToolbox .btn{ padding: 4px 8px;font-size:11px; text-align:left}
.advanceToolbox .dropdown li{font-size: 11px;}
.advanceToolbox .dropdown{ margin-left:5px; width:45%; margin-top:0.5em}
.advanceToolbox  .colIzq{margin-left:0 !important; padding-left:0;margin-right: -10px;}
.ocultaCampos{ width:1px ; height:1px; overflow:hidden}
.advanceToolbox .flabel{margin-bottom:5px; line-height:22px;color: #293f66;}
.chkCc{ width: 230px;}
.chkCc button,#submit{margin-top: 0.5em;}
.chkCc .flabel{padding-left:15px}
#QueryForm  input[type="checkbox"]{ visibility: hidden;}
#QueryForm .btnAvForm {margin-top:8px}
#submit{margin-left:5px; margin-bottom:10px;background-color: #8abae0;
margin-left: 20px;
margin-top: 1em;
color: white;
font-size: 1.2em;width: 88%;
text-align: center;}
.flabel button{margin:0; float: right;}
#_proy, #_libros,#_tesis{width: 183px; text-align:center}
.botWrapper {
    border-left: 1px solid rgb(238, 238, 238);
    padding-left: 15px;
}
.queryform {
    background-color: #EDEDED;
    padding: 20px;
}
.resultF .navbar {
    text-align: left;
    font-size: 32px;
    color: #1d335a;
    padding-top: 0.5em;
    font-family: "fira_sansextralight";
}
.resultF .navbar span{text-transform: capitalize;}
.resultSmall {
    font-family: "fira_sansregular" !important;
    color: #9aa7b7;
    font-size: 1.2em;
    line-height: .8em;
    padding-top: .6em;
}
.crossSearch form{font-size:.75em}
.crossSearch .querybox input{ width:300px}
#j,#sf,#fSubmit{width:160px}
.noAvanzada  p{line-height:0.5em; margin-bottom:1px}
.noAvanzada   #_todas{margin-top:1em}
.flabel{padding-top:5px !important; margin-bottom:10px}
#fSubmit {margin-top:15px;}
.noAvanzada  p{line-height:0.5em; margin-bottom:1px}
.noAvanzada  .botWrapper{padding-left:0 !important}
#searchTop {position:relative}
#searchTop .form-control{width:143px !important}
#searchTop  .btnAvForm  {clear:both}
#searchTop #QueryForm  a.btnAvForm {font-weight: normal;margin-top:8px;border:0 !important; background-color: transparent !important; color:#666 !important}
#searchTop  .advanceToolbox{left:-150px!important; top:45px !important}
.breadcrumb sapn{}

